.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .75rem;
    border-radius: 8px;
    padding: 0 2rem;
    background-color: var(--background-color-dark);
    box-sizing: border-box;
}

.header__title{
    font-weight: 700;
    color: var(--brand-color);
    font-size: 1.5rem;
    margin-right: .2rem;
}

.header__elem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__elem--right{
    justify-content: flex-end;
    min-width: 10rem;
}

.header__elem--left{
    justify-content: flex-start;
    min-width: 10rem;
}

.header__icon{
    transition: all .45s ease-in-out;
}
.header__icon:hover{
    transform: rotate(-360deg);
    cursor: pointer;
}

.header__icon:active{
    transform: scale(105%);
}