.partners{
    padding-top: .5rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.partners__text{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--text-color-light);
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 60%;
    letter-spacing: 0.055em;
}

.partners__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.partners__img{
    transition: all .2s ease-in-out;
    filter: grayscale(100%);
    opacity: 60%;
}

.partners__img:hover{
    filter: inherit;
    opacity: 90%;
    cursor: pointer;
}