.container__play{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    box-sizing: border-box;
}

.build{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    text-align: center;
    gap: 1rem;
    padding-bottom: 7rem;
}

.build__title{
    margin: 0;
}

.build__description{
    margin: 0;
    padding: 0;
    font-style: italic;
    color: #6B7280;
}

.build__button{
    border-radius: 14px;
    outline: none;
    border: none;
    background-color: white;
    color: #6B7280;
    margin: 0;
    font-size: 1.177rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.build__button:hover{
    cursor: pointer;
    color: var(--brand-alternative-color);
}

.build__button:active{
    transform: scale(105%);
}