.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

.banner__button{
    padding: .5rem 4rem;
    border-radius: 14px;
    outline: none;
    border: none;
    background-color: var(--brand-alternative-color);
    color: var(--text-color-contrast);
    margin: 0;
    font-size: 1.777rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.banner__button:hover{
    cursor: pointer;
    background-color: var(--brand-alternative-dark-color);
}

.banner__button:active{
    transform: scale(105%);
}

.banner__text{
    padding: 0;
    margin: 0;
    font-style: italic;
    color: var(--text-color-light);
    font-size: .8rem;
}