.faq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.faq__elem{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.faq__elem p{
    margin: 0;
}

.faq__question{
    font-weight: 700;
}