:root{
  --header: rgb(243, 244, 246);
  --background-color: #FFF;
  --background-color-dark: #F3F4F6;
  --border-color: #333;
  --text-color: #152026;
  --text-color-light: #6B7280;
  --text-color-contrast: #FFF;
  --brand-light-color: #89E219;
  --brand-color: #58CC02;
  --brand-dark-color: #378000;
  --brand-alternative-color: #4866F2;
  --brand-alternative-light-color: #5874ff;
  --brand-alternative-dark-color: #3F52AB;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75;
  background: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}