.hero{
    height: 88vh;
    margin-bottom: 3rem;
}

.hero__head{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    gap: 1rem;
}

.vercel span{
    display: block;
    position: relative;
    font-size: var(--font-size);
    color: var(--color);
    text-transform: capitalize;
}

.vercel h1{
    font-size: 7rem;
    letter-spacing: -0.05rem;
    font-weight: 700;
    margin: 0;
}

.vercel h1:first-child{
    color: var(--brand-color)
}

.vercel h1:last-child{
    color: var(--brand-alternative-color);
}

.foot{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    justify-self: center;
    gap: .25rem;
}

.foot__text{
    font-size: .9rem;
    color: var(--text-color-light);
    text-align: center;
    margin: 0;
}

.foot__text--small{
    font-size: .6rem;
}

.foot__text--small:hover{
    color: var(--brand-color);
}