.social{
    width: 100%;
}

.social__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.social__elem{
    color: var(--text-color-light);
    transition: all .1s ease-in-out;
}

.social__elem:hover{
    transform: translateY(-0.2rem);
    color: var(--brand-color);
}